.container #content .flowplayer.is-splash .fp-controls,.container #content .flowplayer.is-poster .fp-controls,.container #content .flowplayer.is-splash .fp-fullscreen,.container #content .flowplayer.is-poster .fp-fullscreen,.container #content .flowplayer.is-splash .fp-time,.container #content .flowplayer.is-poster .fp-time,.container #content .flowplayer.is-splash .fp-embed,.container #content .flowplayer.is-poster .fp-embed {
    display: block !important;
}
.container #content .flowplayer.is-splash .fp-controls,.container #content .flowplayer.is-poster .fp-controls{ 
	background-color: #5B6066;
}
.flowplayer .fp-play {
    height: 24px;
    top: 20px;
}
.container #content .flowplayer.is-splash .fp-fullscreen,.container #content .flowplayer.is-poster .fp-fullscreen{
	position:relative;
	bottom:0px;
}
.container #content .fp-brand{display:none;}
.container #content .fp-unload{display:none;}
.container #content .fp-menu{display:none;}
.container #content .fp-playlist{display:none;}
.container #content .flowplayer .fp-timeline {background-color:#000000;}
.container #content .fp-controls{display:none;}
.container #content .fp-timeline .fb-buffer{height:10px; background-color:#8B8E93;}
.container #content .fp-timeline .isplay{border-right: 10px solid #FFFFFF;}
.container #content .fp-timeline .fp-progress{height:10px; background-color:#B1063A;}
.container #content .fp-controls {height:45px; width: 100%; background-color: #5B6066;}
.container #content .fp-timeline {height:10px; background-color: #000000;}
.container #content .fp-controls .fp-elapsed{color:#ffffff; font-size:12px;line-height: 35px;}
.container #content .fp-controls .fp-duration{color:#A3A7AA; font-size:12px;}
.container #content .fp-controls .fp-remaining{display:none;}
.container #content .fp-controls .fp-time em{color:#A3A7AA; font-size:12px;}
.container #content .fp-controls .fp-time{float:left;width:90px;/*padding-left: 10px;*/}
.container #content .fp-controls .fp-play,.container #content .fp-controls .fp-fullscreen,.container #content .fp-controls .fp-mute{
    background-image: url("../../img/flowplayer/play.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 35px;
    width: 40px;
}
.container #content .fp-controls .fp-play.pause{
	background-image: url("../../img/flowplayer/pause.png");
}
.container #content .fp-controls .fp-volume{
	float:right;	
}
.container #content .fp-controls .fp-mute{
	background-image:url("../../img/flowplayer/lautstaerke.png");
}
.container #content .fp-controls .fp-volume .mute{
    background-image: url("../../img/flowplayer/lautstaerkeTot.png");
}
.container #content .fp-controls .fp-fullscreen{
	background-image:url("../../img/flowplayer/vollbild.png");
	float:right;
}
.container #content .fp-controls .fp-volume .fp-volumeslider{
	display:none;
	height:10px;
	background-color:#ffffff;
}
.container #content .fp-controls .fp-volume .fp-volumelevel{
	height:10px;
	background-color:#B1063A;
}
.oneCol .tx-yb-videoplayer .flowplayer{
    /*margin: 0 80px;*/
    width: 100%;
}
.tx-yb-videoplayer .mSlider{
    /*margin: 0 80px;*/
    width: 725px;
	padding-bottom: 50px;
}
.oneCol .tx-yb-videoplayer .mSlider{
    /*margin: 0 80px;*/
    width: 1070px;
	padding-bottom: 50px;
}
.yb_videolist .videoListItem{
    float: left;
    padding-left: 20px;
    width: 180px;
	color:#5A6065;
	font-size:13px;
}

.mSlider h2, .yb_videolist .h2 {
    border-bottom: 1px solid #B1063A;
    color: #B1063A !important;
    margin-top: 50px;
	margin-left: 0 !important;
}

/*Slider*/
.mSlider .videoListItem{float:left;position: absolute;width:180px;}
.mSlider img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.mSlider span{
    cursor: pointer;
    float: left;
    height: 50px;
    margin-top: 160px;
    width: 25px;
	opacity: 0.5;
}
.mSlider span:hover{
	opacity: 1.0;
}
.mSlider span.slLeft{	
	background: url("../../img/hpi_web_icons.svg") repeat scroll -191px -57px rgba(0, 0, 0, 0);
	float:left;
}
.mSlider span.slRight{	
	background: url("../../img/hpi_web_icons.svg") repeat scroll -218px -57px rgba(0, 0, 0, 0);
	margin-left: 17px;
	float:right
}

.mSlider span.inActive{
    cursor: default;
    opacity: 0.5;
}
.mSlider .inner{
    display: inline-block;
    float: left;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 615px;
	left: 30px;
}
.oneCol .mSlider .inner{
    display: inline-block;
    float: left;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 1000px;
	left:0px;
}

.clear{clear:both;}

span {
    position: relative;
}
span > i+i,span.inActive > i+i{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF rgba(0, 0, 0, 0) #FFFFFF #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 15px;
    display: inline-block;
    height: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
span > i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666666 rgba(0, 0, 0, 0) #666666 #666666;
    border-image: none;
    border-style: solid;
    border-width: 15px;
    display: inline-block;
    height: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
span[data-dir='+'] > i{
    left:5px;
}
span[data-dir='+'] > i+i {
    left:0px;
}
span[data-dir='-'] > i {
    border-color: #666666 #666666 #666666 rgba(0, 0, 0, 0);
}
span[data-dir='-'] > i+i{
    border-color: #FFFFFF #FFFFFF #FFFFFF rgba(0, 0, 0, 0);
    left:5px;
}
