.tx_dscoverview_item {border-bottom:solid 1px #ccc;margin-bottom:10px;padding-bottom:10px;overflow:hidden;}
.tx_dscoverview_itemTitle {margin:0;padding-bottom:10px;}
.tx_dscoverview_itemImage, .tx_dscoverview_itemAbstract {float:left;}
.tx_dscoverview_itemImage {padding-right:10px;}
.tx_dscoverview_itemAbstract p {margin:0;}
.ajaxLoader {background:url(/typo3conf/ext/dsc_overview/Resources/Public/Images/ajax-loader.gif) no-repeat center #fff;position:absolute;margin:0;top:0;left:0;width:0;height:0;z-index:9999;filter:alpha(opacity=85);-moz-opacity:0.85;opacity:0.85;}
.lazyLoader {height:30px;width:100%;background:#F3F3F3;}
.tx_dscoverview_item.fixedItem {background:#ccc;}